<%- include('../partials/header.ejs') %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>View our hand-picked campgrounds from all over the world.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<h3>Our Most Popular Campgrounds</h3>
		</div>
	</div>

	<div class="row">
		<% campgrounds.forEach(camp => { %>
		<div class="col-md-3 col-sm-6">
			<div class="card">
				<img class="card-img-top" src="<%= camp.image %>">
				<div class="card-body">
					<h5 class="card-title text-center"><%= camp.name %></h5>
					<a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">More Info</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%- include('../partials/footer.ejs') %>