<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelpcampground</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card p-0 mb-4">
        <div class="campground__overview">
          <img class="img-thumnail w-100 p-0" src="<%= campground.image %>" />
          <div class="caption-full p-3">
            <h4 class="float-right">$9.00/night</h4>
            <h4><a href="#"><%= campground.name %></a></h4>
            <p><%= campground.description %></p>
            <p class="font-italic">
              Submitted By <%= campground.author.username %>
            </p>
            <a
              class="btn btn-warning"
              href="/campgrounds/<%= campground._id %>/edit "
              >Edit</a
            >
          </div>
        </div>
      </div>
      <div class="card bg-light p-3 mb-4">
        <a
          class="btn btn-success my-3 align-self-end"
          href="/campgrounds/<%= campground._id %>/comments/new"
          >Leave a Comment</a
        >
        <% campground.comments.forEach(comment => { %>
        <div class="row">
          <div class="col-md-12">
            <span class="font-weight-bold">
              <%= comment.author.username %>
            </span>
            <span class="float-right font-weight-light font-italic"
              >10 days ago</span
            >
            <p>
              <%= comment.text %>
            </p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
